<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Biarkan kosong, servlet pakai anotasi -->
    <servlet>
        <servlet-name>animalServlet</servlet-name>
        <servlet-class>animalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>species</servlet-name>
        <servlet-class>species</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnimalDetailServlet</servlet-name>
        <servlet-class>animalDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAnimalServlet</servlet-name>
        <servlet-class>addAnimalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewAnimal</servlet-name>
        <servlet-class>addNewAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAnimal</servlet-name>
        <servlet-class>updateAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>animal_condition</servlet-name>
        <servlet-class>status_animal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpeciesListServlet</servlet-name>
        <servlet-class>SpeciesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpeciesList</servlet-name>
        <servlet-class>SpeciesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAnimalCount</servlet-name>
        <servlet-class>getAnimalCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAnimal</servlet-name>
        <servlet-class>searchAnimal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>animalServlet</servlet-name>
        <url-pattern>/animalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>species</servlet-name>
        <url-pattern>/species</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnimalDetailServlet</servlet-name>
        <url-pattern>/AnimalDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAnimalServlet</servlet-name>
        <url-pattern>/addAnimalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewAnimal</servlet-name>
        <url-pattern>/addNewAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAnimal</servlet-name>
        <url-pattern>/updateAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>animal_condition</servlet-name>
        <url-pattern>/animal_condition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpeciesListServlet</servlet-name>
        <url-pattern>/SpeciesListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpeciesList</servlet-name>
        <url-pattern>/SpeciesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAnimalCount</servlet-name>
        <url-pattern>/getAnimalCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAnimal</servlet-name>
        <url-pattern>/searchAnimal</url-pattern>
    </servlet-mapping>
</web-app>
